:root {
  --color-primary: #4A748A; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  background: #262626;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  height: 100%;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a, a:hover, a:active {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #fff; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

.container {
  width: 87%;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.d-flex {
  display: flex; }

.offer, .slider {
  width: 50%;
  position: relative; }

.align-items-center {
  align-items: center; }

.btn {
  background: #e930a1;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  width: 18.5rem;
  padding: 2.2rem 0;
  border-radius: 10rem;
  display: block; }

.btn:hover {
  background: #ff009c;
  box-shadow: 0 10px 30px rgba(233, 48, 161, 0.4); }

.btn-round {
  font-size: 9px;
  border: 1px solid #30e9a1;
  color: #30e9a1;
  padding: 5px 1.6rem;
  text-transform: uppercase;
  border-radius: 10rem; }

.btn-round:hover {
  background: #30e9a1;
  color: #fff;
  border: 1px solid #30e9a1;
  color: #000; }

.logo {
  align-items: center; }
  .logo__text {
    font-size: 1.8rem;
    font-weight: 100;
    margin-left: 15px;
    letter-spacing: 5px; }
  .logo__img {
    height: 2rem;
    width: 2rem; }

.menu {
  margin-left: 23.5rem; }
  .menu__item {
    margin-right: 4.7rem; }
    .menu__item a {
      font-size: 1.3rem;
      font-weight: 300; }
      .menu__item a:hover {
        color: #23c8d2; }

.header {
  height: 15vh; }

.auth {
  margin-left: auto; }
  .auth__profile {
    font-size: .8rem;
    color: #b2b2b2;
    margin-bottom: 5px; }
  .auth__info {
    margin-left: 1.5rem; }
  .auth__name {
    font-size: 1rem; }
  .auth__img {
    border: 1px solid #404040;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .auth__play {
    display: block;
    background: #353535;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: 21px; }
  .auth__more {
    background: transparent url("../img/arrow.png") no-repeat;
    border: none;
    width: 5px;
    height: 6px;
    margin-left: 15px;
    display: block;
    cursor: pointer; }

.content {
  height: 80vh; }

.offer {
  background: #1c1c1c;
  justify-content: center;
  align-items: center; }
  .offer__body {
    width: 53.1rem; }
  .offer__title {
    font-size: 5.8rem;
    font-weight: 900; }
  .offer__word {
    display: block;
    font-size: 8.1rem;
    position: relative; }
    .offer__word span {
      z-index: 2;
      position: relative; }
    .offer__word::before {
      content: 'anywhere';
      display: block;
      font-size: 8.1rem;
      color: #8d1212;
      position: absolute;
      z-index: 1;
      margin-left: -1px;
      margin-top: -4px; }
    .offer__word::after {
      content: 'anywhere';
      display: block;
      font-size: 8.1rem;
      color: #37aaa8;
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 3px; }
  .offer__btns {
    margin-top: 5vh; }
  .offer__btn {
    margin-right: 2rem; }
  .offer__cta {
    margin-top: 4vh; }

.slider {
  background-image: url("../img/light.png");
  background-size: cover;
  background-position: center 40%;
  position: relative; }
  .slider__box {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.ellipse {
  background: url("../img/elips.png") no-repeat center center/contain;
  width: 85%;
  height: 85%;
  position: absolute;
  bottom: 13px;
  right: 5px; }

.lines-dot {
  background: url("../img/lines.png") no-repeat center center/contain;
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 2.4rem;
  left: -4rem;
  z-index: 6; }

.plus-two {
  background: url("../img/plus_two.png") no-repeat center center/contain;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 37%;
  left: 22%;
  z-index: 2; }

.line-wave {
  background: url(../img/line_wave.png) no-repeat center center/contain;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 14%;
  right: 76%; }

.tria {
  background: url(../img/tria.png) no-repeat center center/contain;
  width: 17%;
  height: 17%;
  position: absolute;
  top: 19%;
  right: 10%; }

.plus-one {
  background: url(../img/plus_one.png) no-repeat center center/contain;
  width: 35%;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2; }

.rag-n-bone {
  background: url(../img/rag-n-bone.png) no-repeat center center/contain;
  width: 95%;
  height: 76%;
  position: absolute;
  bottom: 0;
  right: 2rem; }
